* {
    box-sizing: border-box;
}



.container {
    margin: 0 auto;
    width: 80%;
}

 .nav-bar {
    position: relative;
    margin-top: 32px;
}

.logo {
    height: 50px;
    position: absolute;
    margin-top: 15px;
}

.delicious {
   
    margin-top: 15px;
    font-size: 36px;
    font-weight: 600;
    margin-left: 50px;
    position: absolute;
}

.best-blog {
    color: rgb(192, 188, 188);
    
    font-size: x-small;
    letter-spacing: 3px;
    margin-left: 60px;
    margin-top: 55px;
    position: absolute;
}

.social-icons {
    float: right;
    margin-top: 30px;
}

.social {
    width: 24px;
}

.clearfix {
    overflow: auto;
}

h2 {
    margin: 95px 0 65px 0;
    padding: 8px;
}

.stripe {
    
  background-image: linear-gradient(45deg, #ffffff 28.57%, #e0e0e0 28.57%, #e0e0e0 50%, #ffffff 50%, #ffffff 78.57%, #e0e0e0 78.57%, #e0e0e0 100%);
  background-size: 6px 6px;
}

.chocolate-pizza {
    
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 10px;
}

.posted {
    color: lightgray;
    display: inline;
   
    letter-spacing: 2px;
    text-transform: uppercase;
}

.pizza-image {
    margin-top: 4px;
    width: 100%;
}

.print-icon {
    float: right;
    width: 20px;
    padding-top: 5px;
}

.print-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    color: rgb(229, 226, 226);
    cursor: pointer;
    float: right;
    
    font-size: medium;
    margin-right: 0;
    outline: none;
    overflow: hidden;
    text-transform: uppercase;
}

.instructions {
    color: rgb(73, 73, 73);
    
    font-size: large;
    line-height: 30px;
    margin-top: 30px;
    text-indent: 3%;
}

.list-background {
    margin-top: 30px;
    width: 100%;
}


.col-container {
    color: rgb(88, 88, 88);
    display: inherit;
   
    line-height: 50px;
  
    margin-top: -400px;
    width: 100%;
}

.col {
    display: inline-block;
    width: 40%;
}

.column-one {
    margin-left: 15%;
}


input[type=checkbox]:checked + label {
    text-decoration: line-through;
}

.about-vanessa {
    color: gray;
    display: inline-block;
    
    width: 75%;
}

.vanessa-pic {
    position: absolute;
    width: 100px;
}

.vanessa-name {
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 12px;
    margin-left: 15%;
}

.vanessa-bio {
    font-size: large;
    line-height: 20px;
    margin-left: 15%;
    width: 85%;
}

.share-button {
    display: inline;

}
.share:hover{
    background: blue;
    transition: 1000ms;

}
.share {

    color: white;
    background-color: #d67e56;
    float: right;
    
    font-size: 31px;
    padding: 12px;
    text-transform: uppercase;
    width: 300px;
}

.bottom-section {
    margin-top: 80px;
}

.line-footer, .words-footer {
    color: gray;
    
    line-height: 24px;
    margin-top:80px;
    text-align: center;
}

.line-footer1 {
    background-color: gray;
    width: 47%;
    display: inline-block;
    margin-bottom: 15px;
}

.small-logo {
    border: 2px solid white;
    display: inline-block;
    width: 32px;
    margin: 0 6px;
}

.line-footer2 {
    background-color: gray;
    width: 47%;
    display: inline-block;
    margin-bottom: 15px;
  }

 h4 {
    margin: 95px 0 65px 0;
    padding: .5px;
}

.published {
    margin-bottom: 80px;    
}